##------------------------------------------------------------------------------
## Framework Mazzy
##______________________________________________________________________________


# URL REWRITING
#-------------------------------------------------------------------------------

<IfModule mod_rewrite.c>
    rewriteEngine On
    Options +FollowSymLinks
    SetEnv HTTP_MOD_REWRITE On

    #RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [NC,L,QSA]
</IfModule>